body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(250, 208, 215);
}
.container {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    height: 500px;
    text-align: center;
    border-radius: 20px;
    padding-top: 30px;
}
.result {
    margin-top: 60px;
}

h3{
    color: rgb(197, 145, 154);
}
